* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

#Navigation{
  cursor: pointer;
  position: absolute;
  width: 11vw;
  height: 5.5vw;
  right: 4vw;
  top: 1vw;
  background-color: #f7f5f5ef;
  border-radius: 3vw;
  border: none;
  outline: none;
  font-size: 2vw;
  text-align: center;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(0, 0, 0, 0.103), 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.103);
  transition: all 0.27s ease-in;  
  z-index: 30;
}
.circle{
  display: inline-block;
  background-color: #fafafaef;
  width: 1.5vw;
  height: 1.5vw;
  margin: 0.3vw;
  border-radius: 3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(0, 0, 0, 0.089), 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.096);
}
#Navigation:hover{
background-color: rgb(112, 214, 105);
}
#HomeDropdown, #RecycleDropdown{
visibility: hidden;
display: inline-block;
}
/*-------------------------------------------------------------------------------------------*/
.menuBox{
cursor: pointer;
position: absolute;
z-index: 10;
width: 12vw;
height: 11vw;
border-radius: 2.7vw;
font-size: 1.7vw;
display: table;
text-align: center;
background-color: #fafafa;
box-shadow: 0 0vw 0vw 0 rgba(0, 0, 0, 0.219), 0 0.6vw 0.6vw 0 rgba(0, 0, 0, 0.384); 
transition: all 0.27s ease-in; 
z-index: 30;
}
.Text{
text-decoration: none;
display: table-cell;
vertical-align: middle;
color: black;
}
.menuBox:hover{
background-color:  rgb(112, 214, 105);
}
.Text:hover{
color: white;
}

#Account{
top: 9vw;
right: 4.5vw;
}
#MyAccount{
top: 9vw;
right: 17vw;
}
#Home{
top: 9vw;
right: 29.5vw;
}
#System{
top: 20.7vw;;
right: 4.5vw;
}
#AboutScan{
top: 20.7vw;
right: 17vw;
}
#Map{
top: 20.7vw;
right: 29.5vw;
}
#EcoShop{
top: 32.4vw;
right: 4.5vw;
}
#Login-Signup{
top: 44.1vw;
right: 4.5vw;
}
#ArticlesBox{
  top: 55.8vw;
  right: 4.5vw;
}


  #Green.backgroundBox{
    top: 12vw;
    left: 2.5vw; 
  }
  #Yellow.backgroundBox{
    top: 12vw;
    right: 2.5vw;  
  }
  .shadow{
    position: absolute;  
    width: 38vw;
    height: 52vw;  
    border-radius: 4vw;  
  }
  #YellowShadow.shadow{
    top: 15vw;
    right: 6vw;
    background-color: rgba(255, 255, 255, 0.829);   
  }
  #GreenShadow.shadow{
    top: 15vw;
    left: 6vw;
    background-color: rgba(255, 255, 255, 0.774);   
  } 
.backgroundBox{
    position: absolute;  
    text-align: center; 
    width: 45vw;
    height: 60vw;  
    border-radius: 4vw;  
    box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.205), 0 2vw 2vw 0 rgba(0, 0, 0, 0.158); 
}

.disabled {
  color: gray;
  cursor: default;
}
p {
  color: red;
}

.payment {
  background: #b2eccc;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #0d3c61;
}

.form .card-holder .card-number .exp-date .cvc {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.pay-btn {
  margin-top: 40px;
  background: #06702f;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.eco-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.eco-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #ffffff;
  border-radius: 50%;
}

.logo {
  position: absolute;
  right: -70%;
  top: -51%;
}
.finish-btn {
  margin-top: 60px;
  background: #06702f;
  padding: 15px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.disable {
  pointer-events: all;
}
#inputPhone{
  margin-bottom: 23px;
}
#mobileIcon{
  bottom: 32px;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  flex-wrap: wrap;
}
a.pay-btn{
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  width: 100px;
  margin-top: 10px;
  
}

.wrapper {
  display: grid;
  grid-template-columns: 400px;
  margin: 40px;
  grid-gap: 16px;
  max-width: 600px;
  right: 50%;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  background: #ffffff;
  
}
@media (min-width: 250px) and (max-width: 699px) {
  h2{
margin: 5vw;
font-size: 5vw;
text-align: left;
  }
}